<!DOCTYPE html>
<html>

    {% load crispy_forms_tags %}
    {% load static %}

<head>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
    <div class="pt-5 container">
        <div class="pt-5 row">
            <div class="col">
            </div>
            <div class="pt-5 col">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Registration</legend>
                        <!--{{ form|crispy }}-->
                        {% for field in form.visible_fields %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {% if field.name == 'password' %}
                                {{ field.label_tag }}
                                <input type="{{ field.name }}" class="form-control" id="exampleInputPassword1" name="{{ field.name }}" value="{{ field.value }}">
                                {% else %}
                                {{ field.label_tag }}<br>{{ field }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </fieldset>
                    <button type="submit" class="mt-2 btn btn-primary col-sm-12">Submit</button>
                    <!-- <button type="button" class="mt-1 btn btn-outline-success col-sm-12">Registration</button> -->
                    <a class="mt-1 btn btn-outline-success col-sm-12" href="{% url 'login' %}" role="button">Login</a>
                </form>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</body>

</html>